*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navigationtop {
    background-color: #EB1D36;
    color: black;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-content: center;
}
  
.nav-list {
    width: 500px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
}

.nav-list li a{
    text-decoration: none;
    color: black;

}

.logo {
    height: 150px;
    padding-top: 25px;
}

.statsBtn {
    font-size: 20px;
    padding: 5px 10px;
    color: black;
    background-color: #EDEDED;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid; 
    cursor: pointer;   
}

body {
    min-height: 100vh;
    text-align: center;
    background-color: #EDEDED; 

}


h1 {
    font-size: 50px;
    padding-top: 70px;
}

  

footer { 
    height: 80px;
    width: 100%;
    background-color: #EB1D36;
    position: sticky;
    top: 100%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

  
.social-media-icons {
    color: #444444;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 40px;
    float: left;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
  
.social-media-icons :hover {
    color: #000000;
}

main {
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

.foodCharts {
    width: 100%;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
}


.FoodChart1 {
   width:  900px;
}

.FoodChart2 {
    width: 450px;
 }



#foodForm {
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 450px;
    text-align: left;
    background-color: #8d8a8a;
    border-radius: 10px;
}


#formTitle {
    font-size: 40px;
    margin-bottom: 50px;
}

label {
    margin-bottom: 5px;
    text-decoration: none;
}

input {
    margin-bottom: 20px;
    height: 30px;
    text-decoration: none;
}

select {
    margin-bottom: 20px;
    height: 30px;
    text-decoration: none;
}

#submit {
    margin-top: 20px;
    cursor: pointer;
    height: 40px;
}

.tableWBtn {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#addMore {
    
    margin-top: 5%;
    padding: 5px 100px;

    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    border-style: solid; 
    cursor: pointer;  

}


#foodTable {
    width: 50%;
    border-collapse: collapse;
    display: table;
    margin: auto;
}

#tableHead {
    text-align: center;
    background-color: #8d8a8a;
    height: 60px;
}


tr, td {
    border: 1px solid black;
    height: 30px;
}

tr:hover {background-color: #ddd;}
